.coverage
MANIFEST
coverage.xml
nosetests.xml
junit-report.xml
pylint.txt
toy.py
.cache/
cover/
build/
docs/_build
requests.egg-info/
*.pyc
*.swp
*.egg
.venv/
.eggs/
.tox/
.pytest_cache/
.vscode/
.eggs/
__pycache__
.workon
.env
*.env
env/
envs/
leak_lock_ai/envs/*

dist

/.mypy_cache/
